body {
  background-image: url("background-1.png");
  font-family: 'casino';
}

h1 {
  font-family: 'casino';
  color: white;
  padding-left: 20px;
}

#logo {
  width: 120px;
  height: auto;
  float:left;
}

img {
  width: 100px;
  height: auto;
  float: center;
}

p {
  color: white;
  font-size: 30px;
  vertical-align: middle;
}

.view {
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
  color: white;
}


#dealer_container{
  text-align: center;
  color: white;
}

#player_container{
  text-align: center;
  color: white;
}

#result_container{
  text-align: center;
  color: white;
}

button {
  /* display: inline-block; */
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: auto;
  cursor: pointer;
}

button: hover {
  color: yellow;
}
