body {
  background-image: url("background-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: white;
  /* font-family: 'Carrois Gothic SC', sans-serif; */
  padding-left: 20px;
}

#logo {
  width: 160px;
  height: auto;
  float:left;
  padding: 10px;
}

#fun-stops {
  width: 200px;
  height: auto;
  float: right;
}

img {
  width: 100px;;
  height: auto;
  float: center;
}

img:hover {
  -webkit-transform: rotateZ(20deg);
}

p {
  color: white;
  font-size: 30px;
  vertical-align: middle;
  width: 100%;
}

p#loading-text {
  font-size: 15px;
}

.views {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.view {
  color: white;
}

.topnav {
  overflow: hidden;
  background-image:	linear-gradient(to bottom, #250220, transparent);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #266DD3;
  color: white;
}


#dealer_container{
  text-align: center;
  color: white;
  padding: 30px;
  width: 50%;
  margin: auto;
  margin-top: -150px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 120px;
}

#player_container{
  text-align: center;
  color: white;
  padding: 30px;
  width: 50%;
  margin: auto;
  margin-top: -150px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 120px;
  /* box-shadow: 1px 1px 20px 20px rgba(0,0,0,0.5); */

}

#result_container{
  text-align: center;
  color: white;
  height: 100%;
  /* border: 5px solid white; */
  /* width: 200px;
  height: auto; */
  /* margin-right: auto;
  margin-left: auto; */
  /* display: inline-block; */
  }

#result_container .player-choice-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  float: none;
  height: auto;
  width: 100px;
  margin: auto;
  margin: 10px;
  position: relative;
  top: 5em;
}

.player-choice-button {
}

.pretty-text-underline {
  display: inline;
  background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

button {
  border-radius: 4px;
  background-color: #266DD3;
  border: 2px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  vertical-align: middle;
}

button:hover {
  background-color: #344055;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #344055, white, #344055);
}

#player_text {
  width: 20%;
  margin-top: 100px;
  margin-left: 75px;
}

#player_total {

  background-image: url("poker-chip.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -150px;
  vertical-align: middle;
  padding-right: 50px;
  padding-left: 30px;

}

/* this used to be the dealer total text */
/* #totalText {
  border: 3px solid yellow;
  float: right;
  margin-top: -210px;
  margin-right: -950px;
} */

/*
this is now the dealer total text  */
#total_text_container {
  float: right;
  margin-top: -200px;
  margin-right: 150px;
  color: white;
  font-size: 30px;

}


/* this is the player total text  */
#total_text {
  float: right;
  margin-top: -230px;
  margin-right: 150px;
  /* border: 3px solid salmon; */
}

#dealer_text {
  width: 20%;
  margin-top: 100px;
  margin-left: 75px;

}

#dealer_total {
  background-image: url("poker-chip.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -150px;
  vertical-align: middle;
  padding-right: 50px;
  padding-left: 30px;
}

.card_image {
  padding: 3px;
}

#dealer_win_counter {
  color: silver;
  font-size: 18px;
  font-style: italic;
  margin-left: 80px;
  margin-top: -90px;
  border-bottom: 1px solid grey;
  width: 170px;
  position: absolute;
}

#player_win_counter {
  color: silver;
  font-size: 18px;
  font-style: italic;
  margin-left: 80px;
  margin-top: -90px;
  border-bottom: 1px solid grey;
  width: 170px;
  position: absolute;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
